[submodule "vendor/whereami"]
	path = vendor/whereami
	url = https://github.com/gpakosz/whereami
[submodule "vendor/tinyfdialogue"]
	path = vendor/tinyfdialogue
	url = https://github.com/ZathuraDbg/tinyfdialogue
[submodule "vendor/icicle-cpp"]
  path = vendor/icicle-cpp
  url = https://github.com/HACKE-RC/icicle-cpp
