[submodule "zep"]
	path = zep
	url = https://github.com/Rezonality/zep
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "imgui"]
	branch = docking
