src/.vscode/*
src/!.vscode/settings.json
src/!.vscode/tasks.json
src/!.vscode/launch.json
src/!.vscode/extensions.json
src/!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.idea/
src/*.o
src/.gdb_history
src/build
src/cmake-build-debug
src/cmake-build-release
src/.Zathura.zlog
src/Zathura
#ignore pushing the binary ^

*.exe
*.dll
