[submodule "imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/ordered-map"]
	path = vendor/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/HACKE-RC/ImGuiColorTextEdit/
[submodule "vendor/unicorn"]
	path = vendor/unicorn
	url = https://github.com/unicorn-engine/unicorn
